<div class="col-sm">
  <%= image_tag(product.image_url, class: "img-fluid") %>
  <a href="#"><h2><%= product.name %></h2></a>
  <p><%= product.description %></p>
  <strong>&euro; <%=product.price%></strong>
  <p><%= link_to 'Show', product %>
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(product) %> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
   </p>
</div><!-- /col -->
