<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <p>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </p>
  <div class="row">
    <div class="col-md" id="product-image">
      <%= image_tag(@product.image_url, class: "img-fluid") %>
    </div>
    <div class="col-md">
      <h2>
        <%= @product.name %>
      </h2>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p><strong>Average Rating</strong>: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

      <p>
        <strong><i class="fas fa-thumbs-up"></i> What users love:</strong>
        <%= @product.highest_rating_comment %>
      </p>

      <p>
        <strong><i class="fas fa-thumbs-down"></i> What users dislike:</strong>
        <%= @product.lowest_rating_comment %>
      </p>

    </div><!-- /col -->

  </div>
  <div class=row  id="comments-block">
    <div class="col-md">
      <%= render 'new_comment' %>
    </div>
    <div class="col-md">
      <%= render 'comments' %>
    </div>
  </div>

</div>
