<div class="container-fluid" data-product-id="<%= @product.id %>">

  <p>
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <% end %>
    <%= link_to 'Back', products_path %>
  </p>
  <div class="row">
    <% cache(cache_key_for_products) do %>

    <div class="col-md" id="product-image">
      <%= image_tag(@product.image_url, class: "img-fluid img-zoom", data_zoom_image: "@product.product_image.url") %>
    </div>
    <div class="col-md">
      <h2>
        <%= @product.name %>
      </h2>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        &euro; <%= @product.price %>
      </p>

      <%= form_with(url: '/payments/create', class:'stripe-btn') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %>

      <div class="rating-avg">
        <strong>Average Rating:</strong>
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </div>

      <%if @product.highest_rating_comment == nil || @product.highest_rating_comment == 0 %>

      <p class="product-comments">No comments for this product yet.</p>

      <% else %>

      <p class="product-comments">
        <strong><i class="fas fa-thumbs-up"></i> What users love:</strong>
        &ldquo;<%= @product.highest_rating_comment.body %>&rdquo;
      </p>

      <p>
        <strong><i class="fas fa-thumbs-down"></i> What users dislike:</strong>
        &ldquo;<%= @product.lowest_rating_comment.body %>&rdquo;
      </p>

      <% end %>

    </div><!-- /col -->
    <% end %><!-- end of cache product -->
  </div><!-- end of row -->

  <div class=row  id="comments-block">
    <div class="col-md">
      <%= render 'new_comment' %>
    </div>
    <div class="col-md product-reviews">
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>
      <%= will_paginate @comments, :page_links => false, class: "apple_pagination" %>
    </div>
  </div>
  <%= link_to 'Back to products', products_path %>

</div>
